flask 
flask-cors 
requests 
beautifulsoup4 
pandas 
fake-useragent 
openpyxl
scikit-learn 
numpy 
nltk 
joblib 
datasets
newspaper3k
transformers 
sentencepiece
torch 
torchvision 
torchaudio
biopython
lxml_html_clean